:root {
    margin: 0;
    padding: 0;
    --messageTextColor: rgb(241, 241, 241);
    --myMessageBg: #227ac2;
    --otherMessageBg: hsl(0, 0%, 45%);
}

.chat-container {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    /* margin: 1rem; */
    /* width: 50%; */
    /* border: 1px solid grey; */

}

.message-box {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
}

.other {
    justify-content: flex-end;
    flex-flow: row-reverse;
}

.mine {
    justify-content: flex-end;
}

.message-text {
    color: var(--messageTextColor);
    border-radius: 5vw;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    max-width: 50%;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.message-mine {
    background-color: var(--myMessageBg);
}
.message-other {
    background-color: var(--otherMessageBg);
}

.avatar {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    border: 0.5px solid rgb(73, 73, 73);
    padding: 0.5rem;
    background-color: rgb(179, 179, 179);
}